/*
 * Empty Stylesheet file.
 */


.pie-chart {
    -fx-pie-colors: #2841e1, #bfcbd2, #030360, #375d7a, #33a9e8;
}

.pie-legend {
    -fx-padding: 10px;
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-background-color: #f5f5f5;
}

.pie-legend-item-symbol {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.pie-legend-item {
    -fx-padding: 5px 10px;
    -fx-font-size: 14px;
}


.button {
    -fx-background-color: linear-gradient(to bottom, #54b7d6, #A6D4DC);
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-border-color: #A6D4DC;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 8px 15px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,0,1 );
    transition: all 0.3s ease-in-out;
    -fx-cursor:hand;
    /*
    -fx-background-color:  #6dbed6;
    -fx-background-radius: 15;
    -fx-text-fill:  #000000;
    -fx-font: 16px "GothamMedium";
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, #174E26, 5, 0.0,0,1);*/
}
.button:hover{
    -fx-background-color: linear-gradient(to bottom, #A6D4DC,#94c7d6);
}
.button .button-background{
       -fx-opacity: 0.5; 
}

VBox {
    -fx-background-color: transparent;
}
.label {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font: 18px "GothamMedium";
    
}
.table-view {
    -fx-background-color:     #CCE3EA;
    -fx-background-radius: 30;
    -fx-fill: #DCF5C6;
}
.table-view .table-cell{
    -fx-background-color:     #CCE3EA;
    -fx-text-fill: #174E26;
    -fx-alignment: center;
}
.table-view .column-header-background{
    -fx-background-color:      #CCE3EA;
    -fx-background-radius: 30;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box, #174E26,15,0.0,0.1,3);
}
.table-view .column-header, .table-view .filer{
    -fx-size: 40;
    -fx-border-width:  0 0 10 0;
    -fx-background-color: transparent;
}
.ChoiceBox {
    
    -fx-background-color: #CCE3EA;
    -fx-border-radius: 50px;
    -fx-background-radius:  50px;
    -fx-font-size: 15px;
    -fx-padding: 1px;
    -fx-font-weight: 700;
    -fx-text-fill: #6dbed6; 
}
.ChoiceBox:hover{
    -fx-text-fill: #6dbed6; 
}
.AnchorPane{
   
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
.combo-box{
    -fx-border-width: 0.5px;
    -fx-background-color:   #CCE3EA;
    -fx-border-radius: 50px;
    -fx-background-radius:  50px;
    -fx-font-size: 15px;
    -fx-padding: 1px;
    -fx-font-weight: 700;
}
.combo-box:hover{
    -fx-text-fill: #6dbed6; 
}
.combo-box-base:hover{
    -fx-border-color:  #6dbed6;
}
.combo-box .list-view{
    -fx-border-width: 0.5px;
    -fx-background-color:  #6dbed6;
    -fx-border-radius: 50px;
    -fx-background-radius:  50px;
    -fx-font-size: 15px;
    -fx-padding: 1px;
    -fx-font-weight: 700;
}
.combo-box .list-view .list-ce:filled{
    -fx-text-fill: #DCF5C6;
    -fx-font-size: 12px;
        -fx-font-weight: 700;

}
.text-field {
    -fx-background-color:   #CCE3EA;
    -fx-border-radius: 50px;
    -fx-background-radius:  50px;
    -fx-font-size: 15px;
    -fx-padding: 1px;
    -fx-font-weight: 700;
}
.default-color0.chart-bar { -fx-bar-fill: #f9d900; }


.bar-chart .level-legend {
  -fx-padding: 10; 
  -fx-border-width: 2; 
  -fx-background-color:  #6dbed6; 
  -fx-border-color: derive(rgba(211, 211, 211, 0.7), 10%);
}